#friends-display-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #f8f8f8;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
  margin-top: 50px;
}
#friends-display-link i {
  margin: 0 10px;
  opacity: 0.2;
}
.friends-screen__channel {
  margin-top: 20px;
  border-top: var(--main-border);
  padding-top: 15px;
}
.friends-screen__channel-header {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

.splash {
  background-color: var(--primary);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  animation: splash-display 1s ease-in-out 0s 1;
}

@keyframes splash-display {
  from {
    opacity: 1;
  }
  100% {
    opacity: 0;
    /* display: none; */
  }
}
