.setting-ul__li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.setting-ul__li-column {
  padding: 26px 5px;
  font-size: 24px;
}

.setting-ul__li-column i {
  margin-right: 14px;
}

.setting-ul__li-column_right {
  color: rgba(0, 0, 0, 0.3);
}

.setting-ul__li:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 26px;
  margin-bottom: 26px;
}
