.alt-top-bar__column {
  width: 33%;
}

.alt-top-bar__title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: var(--kerning);
  text-align: center;
}
.alt-top-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  margin: 0 4px;
}
.alt-top-bar__column span:last-child {
  margin-left: 24px;
}
.alt-top-bar--chat {
  background-color: #abc1d1;
}
