#no-mobile,
#no-landscape {
  background-color: var(--primary);
  width: 100vw;
  height: 120vh;
  position: absolute;
  z-index: 99;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}

@media screen and (orientation: portrait) {
  #no-landscape {
    display: none;
  }
}
